<div class=container>
  <div class="card mt-5" style="align-items: center;">
    <h1>Student Dashboard</h1>
  </div>
  <div class="card mt-5" style="padding: 20px;">
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div class="form-group">
      <label for="age">Student Age</label>
      <input type="number" #age (ngModel)="age" name="age" id="age" class="form-control" placeholder="Student Age">
    </div>
    <div class="form-group">
      <label for="name">Student firstName</label>
      <input type="text" #firstName (ngModel)="firstName" name="name" id="name" class="form-control" placeholder="Student name">
    </div>
    <div class="form-group">
      <label for="name">Student lastName</label>
      <input type="text" #lastName (ngModel)="lastName" name="name" id="name" class="form-control" placeholder="Student name">
    </div>
    <div class="form-group">
      <label for="name">Username</label>
      <input type="text" #Username (ngModel)="Username" name="Username" id="Username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="name">Password</label>
      <input type="text" #Password (ngModel)="Password" name="Password" id="Password" class="form-control" placeholder="Password">
    </div>
    <div class="card mt-5" >
    
      <input type="submit" value="Register" class="btn btn-primary w-100">
    </div>
  </form>
</div>
</div>

<div class="mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        
        <th>Age</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>Username</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let student of studentDetails">
        <td>{{student.age}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.Username}}</td>
        <td>{{student.Password}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            (click)="edit(student)">Edit</button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteStudent(student)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Update Student</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #updateForm="ngForm" (ngSubmit)="updateStudent()">
        <div class="form-group">
          <label for="rollNumber">Student age :</label>
          <input type="text" disabled #age [(ngModel)]="studentToUpdate.age" name="age" id="age"
            class="form-control" placeholder="Student age">
        </div>
        <div class="form-group">
          <label for="name">Student firstName:</label>
          <input type="text" #firstName [(ngModel)]="studentToUpdate.firstName" name="name" id="name" class="form-control"
            placeholder="Student firstName">
        </div>
        <div class="form-group">
          <label for="name">Student lastName:</label>
          <input type="text" #lastName [(ngModel)]="studentToUpdate.lastName" name="name" id="name" class="form-control"
            placeholder="Student lastName">
        </div>
        <div class="form-group">
          <label for="address">Student Username:</label>
          <input type="text" #Username [(ngModel)]="studentToUpdate.Username" name="Username" id="Username"
            class="form-control" placeholder="Student Username">
        </div>
        <div class="form-group">
          <label for="Password">Student Password:</label>
          <input type="number" #Password [(ngModel)]="studentToUpdate.Password" name="Password" id="Password"
            class="form-control" placeholder="Student Password">
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary w-100">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
